AIRFLOW_UID=1000
SPARK_DRIVER_BIND_ADDRESS=0.0.0.0
SPARK_DRIVER_HOST=airflow-scheduler
SPARK_SQL_EXTENSIONS=org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions
SPARK_SQL_CATALOG=org.apache.iceberg.spark.SparkCatalog
SPARK_SQL_CATALOG_TYPE=rest
SPARK_SQL_CATALOG_URI=http://polaris:8181/api/catalog
SPARK_SQL_CATALOG_TOKEN_REFREST_ENABLED=false
SPARK_SQL_CATALOG_WAREHOUSE=prod
SPARK_SQL_DEFAULT_CATALOG=polaris

POLARIS_CREDENTIAL=root:s3cr3t
AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123
AWS_ENDPOINT=http://minio:9000
AWS_PATH_STYLE_ACCESS=true

DB_HOST=postgres
DB_PORT=5432
DB_NAME=restaurant_db
DB_USER=root
DB_PASSWORD=root